#display {
  width: 200px;
  height: 40px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}
.buttons button {
  width: 45px;
  height: 45px;
  margin: 2px;
  font-size: 1.2rem;
}
