/* style/base.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

input, button, textarea {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

ul, ol {
    list-style: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

:focus {
    outline: 2px solid #007BFF;
    outline-offset: 2px;
}

h1{
    margin-left: 40%;;
}
p{
    margin: 3%;
}
input{
    margin: 3%;
    border-radius: 5px;
    padding: 5px;
    box-shadow: #333 1px 3px 3px 1px;
    text-align: left;
}

button{
    border: 1px black solid;
    padding: 5px;
    border-radius: 5px;
    box-shadow: #333 1px 3px 3px 1px;
    background-color: seashell;
}